<h2>Movie Details</h2>

{{#each movieDetails}}
{{title}} 
<br>
{{genre}} 
<br>
{{plot}} 
{{/each}}

<form action="/movies/{{_id}}/delete" method="POST">
<button>Delete</button></form>

{{#each allCast}}
{{cast.name}}
{{cast.occupation}}
{{cast.catchPhrase}}
{{/each}}

