<h2>Movie Details</h2>


{{title}} 
<br>
{{genre}} 
<br>
{{plot}} 
<br>
{{#each cast}}
{{name}}
{{occupation}}
{{catchPhrase}}
{{/each}}



<a href="/movies/{{_id}}/edit">Edit</a>

<form action="/movies/{{movieDetails._id}}/delete" method="POST">
<button>Delete</button></form>


